@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body {
        background-color: black;
        color: whitesmoke;
        text-align: center;
        font-family: "Comic Relief";
    }

    img {
    max-height: 300px;
    }

    p {
    text-align: center;
    }

    .contador {
            margin-top: 10px;
            font-size: 20px;
            color: #ff0404;
            font-weight: bold;
        }